In [14]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### Comparison MS data

In [15]:
dataset1 = "deybis_05" # "deybis_05", "vanessa_05", "mentos_05", "Douban Online_Offline", "ACM_DBLP" # args.dataset
dataset2 = "vanessa_05" # "deybis_05", "vanessa_05", "mentos_05", "Douban Online_Offline", "ACM_DBLP" # args.dataset

encoder = "GIN"

In [16]:
list_train_set = [
	["FrescoAmazonas_1", "FrescoAmazonas_2"],
	["FrescoCusco_1", "FrescoCusco_2"],
	["FrescoSanMartin_1", "FrescoSanMartin_2"],
	["SecoAmazonas_1", "SecoAmazonas_2"],
	["SecoCusco_1", "SecoCusco_2"],
	["SecoSanMartin_1", "SecoSanMartin_2"]
]

In [17]:
tol_rt, tol_mz = 0.5, 15 # 0.5 min, 10 ppm

for train_set in list_train_set:
	df_1 = pd.read_csv(f"data/{dataset1}/output/node_alignment_{encoder}_{dataset1}_{train_set}.csv" , sep=";", decimal=",")
	df_2 = pd.read_csv(f"data/{dataset2}/output/node_alignment_{encoder}_{dataset2}_{train_set}.csv" , sep=";", decimal=",")

	df_match = (
		df_1.assign(key=1)
			.merge(df_2.assign(key=1), on="key", suffixes=("_1", "_2"))
			.drop(columns="key")
	)

	df_match["mz_error"] = (
		(df_match["Average Mz_1"] - df_match["Average Mz_2"]).abs() /
		((df_match["Average Mz_1"] + df_match["Average Mz_2"]) / 2)
	) * 1e6

	df_match["rt_error"] = (df_match["Average Rt_1"] - df_match["Average Rt_2"]).abs()
	df_match

	df_match_filter = df_match[df_match["mz_error"] < tol_mz]
	# df_match_filter = df_match[(df_match["mz_error"] < tol_mz) & (df_match["rt_error"] < tol_rt)]
	
	print(train_set)
	display(df_match_filter)

['FrescoAmazonas_1', 'FrescoAmazonas_2']

Empty DataFrame
Columns: [Id_1, Average Rt_1, Average Mz_1, Metabolite name_1, Id_2, Average Rt_2, Average Mz_2, Metabolite name_2, mz_error, rt_error]
Index: []

['FrescoCusco_1', 'FrescoCusco_2']

,Id_1,Average Rt_1,Average Mz_1,Metabolite name_1,Id_2,Average Rt_2,Average Mz_2,Metabolite name_2,mz_error,rt_error
3356,282,7.369,327.00706,BIS(TRIMETHYLSILYLMETHYL) SULFIDE; EI-B; MS,442,19.382,327.00874,NaN,5.137491,12.013
32165,1678,24.495,327.00652,Unknown,442,19.382,327.00874,NaN,6.788832,5.113

['FrescoSanMartin_1', 'FrescoSanMartin_2']

,Id_1,Average Rt_1,Average Mz_1,Metabolite name_1,Id_2,Average Rt_2,Average Mz_2,Metabolite name_2,mz_error,rt_error
3887,282,7.369,327.00706,BIS(TRIMETHYLSILYLMETHYL) SULFIDE; EI-B; MS,442,19.382,327.00874,NaN,5.137491,12.013
24245,1191,18.013,251.18527,Unknown,217,9.137,251.18581,NaN,2.149805,8.876
48209,374,8.076,327.01132,"1,4-BIS(TRIMETHYLSILYL)BENZENE; EI-B; MS",442,19.382,327.00874,NaN,7.889666,11.306

['SecoAmazonas_1', 'SecoAmazonas_2']

,Id_1,Average Rt_1,Average Mz_1,Metabolite name_1,Id_2,Average Rt_2,Average Mz_2,Metabolite name_2,mz_error,rt_error
1180,374,8.076,327.01132,"1,4-BIS(TRIMETHYLSILYL)BENZENE; EI-B; MS",442,19.382,327.00874,NaN,7.889666,11.306

['SecoCusco_1', 'SecoCusco_2']

,Id_1,Average Rt_1,Average Mz_1,Metabolite name_1,Id_2,Average Rt_2,Average Mz_2,Metabolite name_2,mz_error,rt_error
43744,36,6.154,281.06985,Unknown,41,2.1,281.07077,sulfalene,3.273202,4.054

['SecoSanMartin_1', 'SecoSanMartin_2']

,Id_1,Average Rt_1,Average Mz_1,Metabolite name_1,Id_2,Average Rt_2,Average Mz_2,Metabolite name_2,mz_error,rt_error
11568,1191,18.013,251.18527,Unknown,217,9.137,251.18581,NaN,2.149805,8.876
31698,1538,22.373,281.07199,Unknown,41,2.100,281.07077,sulfalene,4.340534,20.273
33606,1760,25.762,341.16177,Unknown,313,11.951,341.15778,"3,8,15-Trihydroxy-12,13-epoxytrichothec-9-en-4...",11.695400,13.811

In [18]:
tol_rt, tol_mz = 0.5, 15 # 0.5 min, 10 ppm

df_1 = pd.read_csv(f"data/{dataset1}/raw.csv", index_col=0).iloc[:, :3] # Sep
df_2 = pd.read_csv(f"data/{dataset2}/raw.csv", index_col=0).iloc[:, :3] # Dec
print(len(df_1), len(df_2))

df_match = (
    df_1.assign(key=1)
        .merge(df_2.assign(key=1), on="key", suffixes=("_1", "_2"))
        .drop(columns="key")
)

df_match["mz_error"] = (
    (df_match["Average Mz_1"] - df_match["Average Mz_2"]).abs() /
    ((df_match["Average Mz_1"] + df_match["Average Mz_2"]) / 2)
) * 1e6

df_match["rt_error"] = (df_match["Average Rt_1"] - df_match["Average Rt_2"]).abs()
df_match

2072 559

,Average Rt_1,Average Mz_1,Metabolite name_1,Average Rt_2,Average Mz_2,Metabolite name_2,mz_error,rt_error
0,6.068,159.99556,Unknown,0.089,165.99460,NaN,3.680504e+04,5.979
1,6.068,159.99556,Unknown,0.090,158.01272,"[Similar to: 1-benzylhexahydropyrimidine-2,4,6...",1.247037e+04,5.978
2,6.068,159.99556,Unknown,0.097,172.95681,NaN,7.785648e+04,5.971
3,6.068,159.99556,Unknown,0.191,167.01326,NaN,4.292055e+04,5.877
4,6.068,159.99556,Unknown,0.196,165.98329,NaN,3.673692e+04,5.872
...,...,...,...,...,...,...,...,...
1158243,30.948,57.09591,Unknown,29.965,341.26686,Docosahexaenoic acid,1.426694e+06,0.983
1158244,30.948,57.09591,Unknown,29.966,178.15937,N-Propylamphetamine,1.029209e+06,0.982
1158245,30.948,57.09591,Unknown,29.969,707.49253,NaN,1.701299e+06,0.979
1158246,30.948,57.09591,Unknown,29.969,165.11386,2-piperazinopyrimidine,9.722160e+05,0.979
1158247,30.948,57.09591,Unknown,30.021,619.44022,NaN,1.662422e+06,0.927

In [19]:
df_match_filter = df_match[df_match["mz_error"] < tol_mz]
df_match_filter

,Average Rt_1,Average Mz_1,Metabolite name_1,Average Rt_2,Average Mz_2,Metabolite name_2,mz_error,rt_error
20165,6.154,281.06985,Unknown,2.100,281.07077,sulfalene,3.273202,4.054
66404,6.428,327.00684,Unknown,19.382,327.00874,NaN,5.810259,12.954
79472,6.502,121.06599,BENZALDEHYDE DIMETHYL ACETAL; EI-B; MS,2.350,121.06526,Acetophenone,6.029788,4.152
148735,7.271,281.07272,Unknown,2.100,281.07077,sulfalene,6.937730,5.171
152490,7.294,327.00545,Unknown,19.382,327.00874,NaN,10.060944,12.088
158080,7.369,327.00706,BIS(TRIMETHYLSILYLMETHYL) SULFIDE; EI-B; MS,19.382,327.00874,NaN,5.137491,12.013
205411,8.001,489.09079,Unknown,9.825,489.09637,NaN,11.408860,1.824
209508,8.076,327.01132,"1,4-BIS(TRIMETHYLSILYL)BENZENE; EI-B; MS",19.382,327.00874,NaN,7.889666,11.306
346107,10.403,180.10386,BENZYL OXALATE; EI-B; MS,2.298,180.10229,Salsolinol,8.717230,8.105
346126,10.403,180.10386,BENZYL OXALATE; EI-B; MS,2.359,180.10227,Salsolinol,8.828278,8.044
538186,15.172,449.19983,Unknown,16.592,449.19816,tarazepide,3.717729,1.420
585851,16.274,294.93698,Unknown,1.937,294.93940,[Similar to: 3-(3-methyl-1H-indol-1-yl)-N-{4-[...,8.205109,14.337
599165,16.604,408.36624,Unknown,27.899,408.36926,[Similar to: Methyprylon; ΔMass: 224.2361 Da],7.395295,11.295
599169,16.604,408.36624,Unknown,28.112,408.36920,[Similar to: Methyprylon; ΔMass: 224.2360 Da],7.248369,11.508
599194,16.604,408.36624,Unknown,28.793,408.36896,[Similar to: Methyprylon; ΔMass: 224.2358 Da],6.660666,12.189
665986,18.013,251.18527,Unknown,9.137,251.18581,NaN,2.149805,8.876
677241,18.247,341.15742,Unknown,11.639,341.15753,"[Similar to: 6-phenyl-1,2,3,4-tetrahydro-2,5-b...",0.322432,6.608
677254,18.247,341.15742,Unknown,11.771,341.15758,"[Similar to: 6-phenyl-1,2,3,4-tetrahydro-2,5-b...",0.468992,6.476
677262,18.247,341.15742,Unknown,11.951,341.15778,"3,8,15-Trihydroxy-12,13-epoxytrichothec-9-en-4...",1.055231,6.296
783395,20.611,459.13666,Unknown,9.687,459.13486,Raltitrexed,3.920409,10.924
783409,20.611,459.13666,Unknown,9.822,459.13481,Raltitrexed,4.029310,10.789
813687,21.327,341.11724,Unknown,12.927,341.11370,[Similar to: 2-(Acetylamino)-3-[3-(cyclopentyl...,10.377718,8.400
816432,21.360,341.15643,Unknown,11.639,341.15753,"[Similar to: 6-phenyl-1,2,3,4-tetrahydro-2,5-b...",3.224322,9.721
816445,21.360,341.15643,Unknown,11.771,341.15758,"[Similar to: 6-phenyl-1,2,3,4-tetrahydro-2,5-b...",3.370882,9.589
816453,21.360,341.15643,Unknown,11.951,341.15778,"3,8,15-Trihydroxy-12,13-epoxytrichothec-9-en-4...",3.957121,9.409
859783,22.373,281.07199,Unknown,2.100,281.07077,sulfalene,4.340534,20.273
897637,23.369,327.00745,Unknown,19.382,327.00874,NaN,3.944856,3.987
928841,24.259,341.11502,Unknown,12.927,341.11370,[Similar to: 2-(Acetylamino)-3-[3-(cyclopentyl...,3.869670,11.332
938444,24.495,327.00652,Unknown,19.382,327.00874,NaN,6.788832,5.113
948508,24.788,251.00227,Unknown,19.382,251.00067,NaN,6.374465,5.406
968078,25.326,415.20993,Unknown,20.309,415.21237,Bis(4-ethylbenzylidene)sorbitol,5.876528,5.017
984132,25.762,341.16177,Unknown,11.639,341.15753,"[Similar to: 6-phenyl-1,2,3,4-tetrahydro-2,5-b...",12.428199,14.123
984145,25.762,341.16177,Unknown,11.771,341.15758,"[Similar to: 6-phenyl-1,2,3,4-tetrahydro-2,5-b...",12.281639,13.991
984153,25.762,341.16177,Unknown,11.951,341.15778,"3,8,15-Trihydroxy-12,13-epoxytrichothec-9-en-4...",11.695400,13.811
1001210,26.285,281.06665,Unknown,2.100,281.07077,sulfalene,14.658337,24.185
1025806,27.007,281.06870,Unknown,2.100,281.07077,sulfalene,7.364720,24.907
1030278,27.138,281.06842,Unknown,2.100,281.07077,sulfalene,8.360919,25.038
1039781,27.442,281.06656,Unknown,2.100,281.07077,sulfalene,14.978546,25.342
1125050,29.950,341.11639,Unknown,12.927,341.11370,[Similar to: 2-(Acetylamino)-3-[3-(cyclopentyl...,7.885903,17.023
1125867,30.028,281.06882,Unknown,2.100,281.07077,sulfalene,6.937779,27.928
1145991,30.641,281.07239,Unknown,2.100,281.07077,sulfalene,5.763656,28.541

In [20]:
df_match_filter = df_match[(df_match["mz_error"] < tol_mz) & (df_match["rt_error"] < tol_rt)]
df_match_filter

Empty DataFrame
Columns: [Average Rt_1, Average Mz_1, Metabolite name_1, Average Rt_2, Average Mz_2, Metabolite name_2, mz_error, rt_error]
Index: []

In [21]:
""" rt_diff = (df_match["Average Rt_1"] - df_match["Average Rt_2"]).abs()
mz_diff = (
    ((df_match["Average Mz_1"] - df_match["Average Mz_2"]).abs() / (df_match["Average Mz_1"] + df_match["Average Mz_2"]) / 2)
) * 1e6
mask = (rt_diff <= tol_rt) & (mz_diff <= tol_mz)
# mask = (mz_diff <= tol_mz)

df_intersection = df_match.loc[mask].reset_index(drop=True)
df_intersection """

' rt_diff = (df_match["Average Rt_1"] - df_match["Average Rt_2"]).abs()\nmz_diff = (\n    ((df_match["Average Mz_1"] - df_match["Average Mz_2"]).abs() / (df_match["Average Mz_1"] + df_match["Average Mz_2"]) / 2)\n) * 1e6\nmask = (rt_diff <= tol_rt) & (mz_diff <= tol_mz)\n# mask = (mz_diff <= tol_mz)\n\ndf_intersection = df_match.loc[mask].reset_index(drop=True)\ndf_intersection '

In [22]:
""" tol_rt, tol_mz = 0.5, 0.01 # Change

for train_set in list_train_set:
	df_1 = pd.read_csv(f"data/{dataset1}/output/node_alignment_{encoder}_{dataset1}_{train_set}.csv" , sep=";", decimal=",")
	df_2 = pd.read_csv(f"data/{dataset2}/output/node_alignment_{encoder}_{dataset2}_{train_set}.csv" , sep=";", decimal=",")

	df_match = (
		df_1.assign(key=1)
			.merge(df_2.assign(key=1), on="key", suffixes=("_1", "_2"))
			.drop(columns="key")
	)

	rt_diff = (df_match["Average Rt_1"] - df_match["Average Rt_2"]).abs()
	mz_diff = (
		(df_match["Average Mz_1"] - df_match["Average Mz_2"]).abs() # / df_match["Average Mz_2"] * 1e6
	)
	# mask = (rt_diff <= tol_rt) & (mz_diff <= tol_mz)
	mask = (mz_diff <= tol_mz)

	df_intersection = df_match.loc[mask].reset_index(drop=True)
	print(train_set)
	display(df_intersection) """

' tol_rt, tol_mz = 0.5, 0.01 # Change\n\nfor train_set in list_train_set:\n\tdf_1 = pd.read_csv(f"data/{dataset1}/output/node_alignment_{encoder}_{dataset1}_{train_set}.csv" , sep=";", decimal=",")\n\tdf_2 = pd.read_csv(f"data/{dataset2}/output/node_alignment_{encoder}_{dataset2}_{train_set}.csv" , sep=";", decimal=",")\n\n\tdf_match = (\n\t\tdf_1.assign(key=1)\n\t\t\t.merge(df_2.assign(key=1), on="key", suffixes=("_1", "_2"))\n\t\t\t.drop(columns="key")\n\t)\n\n\trt_diff = (df_match["Average Rt_1"] - df_match["Average Rt_2"]).abs()\n\tmz_diff = (\n\t\t(df_match["Average Mz_1"] - df_match["Average Mz_2"]).abs() # / df_match["Average Mz_2"] * 1e6\n\t)\n\t# mask = (rt_diff <= tol_rt) & (mz_diff <= tol_mz)\n\tmask = (mz_diff <= tol_mz)\n\n\tdf_intersection = df_match.loc[mask].reset_index(drop=True)\n\tprint(train_set)\n\tdisplay(df_intersection) '